*.pyc
*~
*.png
*.txt
!partition.txt
!translations.txt
macroTetraedro.py
.DS_Store
*.aidx
*.ebf
*.ebvr
*.ebv
*.elem
*.fltg
*.faces_rep
*.faces
*.nf
*.ver
change-names.sh
git-commands
experiments/*
!fichera
!ellipsoid
!bbrick